.order{
    min-height: 50vh;
}
.orders-content-container {
    max-width: 65rem;
    width: 90%;
    margin: auto;
}
.orders-summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (max-width: 1028px){
    .grid-50-50{
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .orders-summary-container{
        grid-column: 1;
    }
    .orders-container{
        grid-column: 1;
    }
}