.mycart-container{
    max-width: 65rem;
    width: 90%;
    margin: auto;
}
.mycart-items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / 2;
}
.mycart-summary-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2 / 3;
}


/* Price details Secction css */
.price-details-card{
    margin: 2rem 0rem;
    border-radius: 3px;
}
.price-details-card-heading{
    border-bottom: 2px solid gray;
    padding-bottom: 0.4rem;
}
.price-details-item{
    display: flex;
    justify-content: space-between;
}
.price-details-section{
    border-bottom: 2px solid gray;
}
.price-details-card .btn-container{
    display: block;
    margin: 1rem 0rem 0rem 0rem;
}
.price-details-card .btn-container button{
    width: 100%;
    margin: 0rem;
}
.empty-cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.empty-cart-img{
    max-width: 400px;
    max-height: 350px;
    object-fit: contain;
}
@media only screen and (max-width: 1028px){
    .grid-50-50{
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .mycart-items-container{
        grid-column: 1;
    }
    .mycart-summary-container{
        grid-column: 1;
    }
}