.add-address-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: var(--z-index-highest);
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-address-modal-container {
    position: relative;
    margin: 4rem 2rem 2.5rem 2rem;
    min-height: 100px;
    height: fit-content;
    background-color: var(--color-white);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
}
.add-address-form {
    margin: 0 1rem;
}
.add-address-input-container {
    margin: 1rem 0;
}
.add-address-modal-label {
    font-weight: 600;
    font-size: 1rem;
}
.add-address-modal-input {
    display: block;
    width: 100%;
    margin-top: 0.1rem;
    font-size: 1rem;
    padding: 0.3rem;
    font-family: poppins;
}
.add-address-modal-button-container {
    /* display: flex; */
    width: 100%;
    flex-wrap: wrap;
}
.address-modal-button {
    width: 100%;
    margin: 0.3rem 0;
}
.margin-left-1{
    margin-left: 1rem;
}
.add-address-button {
    margin-bottom: 1rem;
}
.address-modal-close-icon {
    font-size: 2rem;
    margin: 0.5rem;
}