.address-item{
    background-color: var(--color-white);
    max-width: 37.5rem;
    width: 100%;
    margin: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
.address-item-icons {
    display: flex;
    justify-content: flex-end;
}
.address-item-icon {
    cursor: pointer;
    font-size: 2.5rem;
    margin: 0 0.3rem;
    padding: 0.3rem;
    border-radius: 50%;
}
.address-item-icon:hover {
    background-color: var(--background-color);
}
.address-item-edit-icon {
    color: var(--primary-color);
}
.address-item-delete-icon {
    color: var(--light-red);
}
.address-item-content {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}
.address-item-content-col-1 {
    text-align: start;
}
.address-item-content-col-2 {
    text-align: end;
}