.toasts-container{
    z-index: 1000;
    position: fixed;
    bottom: 1rem;
    right: 10px;
}
.toast{ 
    min-width: 12.5rem;
    margin: 1rem 0;
}
.toast-text{
    flex: 1;
}
.toast-info{
    background-color: var(--blue);
    color: var(--color-white);
}
.toast-close-icon{
    cursor: pointer;
    font-size: 1.3rem;
    margin-left: 0.9rem;
}